calculatorapiusingrest-ravichandra/src/main/mule/calculatorapiusingrest-ravichandra.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7257ad16-0a93-4846-91b3-f5f913e34006" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="92d6ed04-a9e4-4fef-a337-59a0d5e14b2b" >
		<http:request-connection host="choicerouter-ravichandra.us-e2.cloudhub.io" />
	</http:request-config>
	<flow name="calculatorapiusingrest-ravichandraFlow" doc:id="f66dd8fe-46de-48e3-97e8-b70fdb50c60a" >
		<http:listener doc:name="Listener" doc:id="81344ce3-879e-4f5b-85c8-aa3c37525a23" config-ref="HTTP_Listener_config" path="/calculator"/>
		<set-variable value="#[uuid()]" doc:name="Set Variable" doc:id="925ea301-3663-4707-bf8c-399ab944adf3" variableName="correlationId"/>
		<logger level="INFO" doc:name="Logger" doc:id="4082478b-4872-4a30-b816-79a016a98821" message="correlationId -- #[vars.correlationId]"/>
		<http:request method="POST" doc:name="Request" doc:id="57db98c5-43cb-4016-8e66-57db9f690fec" config-ref="HTTP_Request_configuration" path="/consumeoperator" sendCorrelationId="AUTO">
			<http:headers ><![CDATA[#[output application/java
---
{
	correlationId : vars.correlationId
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="27022b2e-2b96-490c-b98b-709f43241428" message="#[payload]"/>
	</flow>
</mule>
