soapusingimportuwsdl/src/main/mule/soapusingimportuwsdl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7110923d-614a-4a46-ba81-89527adbbd43" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="c548eccb-e7d8-4dd9-a309-549e4b6e73c9" >
		<wsc:connection wsdlLocation="wsdl\calculator.wsdl" service="Calculator" port="CalculatorSoap12" address="http://www.dneonline.com/calculator.asmx" />
	</wsc:config>
	<flow name="soapusingimportuwsdlFlow" doc:id="32621d53-7e30-4037-82c8-4e6992a9d012" >
		<http:listener doc:name="Listener" doc:id="bc6baa89-417e-4a4e-8357-6850bd05dbe4" config-ref="HTTP_Listener_config" path="/importadd"/>
		<ee:transform doc:name="addOfTwoNumber" doc:id="f7c1bd92-0c18-4172-8ce4-411a1f5728fc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: payload.value1,
		ns0#intB: payload.value2
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Add" doc:name="Add" doc:id="31426f6d-3f9c-4cc1-b57a-d2ad9cffbe9d" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="resultofAddOfTwoNumber" doc:id="a71a2add-d9b0-4e5f-a20b-60a8e2e37cb2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
ns ns0 http://tempuri.org/

output application/json
---
{
	"additonresult": payload.body.ns0#AddResponse.ns0#AddResult
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="display the Addition Payload" doc:id="5148c7ee-0cab-4b6d-bf81-9b461abeb442" message="#[payload]"/>
	</flow>
</mule>
